/AudioSpectrumConverter.class
/MelSpectrogramConverter.class
/Test.class
/MFCC.class
/WaveToSpektrum.class
/WaveToSpektrum$WavToSpectrogram.class
/MySpektrumAnalysis.class
/Main.class
/WaveToSpectrogram.class
